In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import pdfplumber
import re

In [3]:
with pdfplumber.open("C:/Users/user/Desktop/Cohort10/Capstone DATA/2017_DRCCAH_food_insuf.pdf") as pdf:
    page = pdf.pages[0]
    table = page.extract_table()

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

In [4]:
if table:
    df = pd.DataFrame(table[1:], columns=table[0])
    print(df.head())
else:
    print("No table found.")

  Indicator 6.26: Which of these statements best describes the food situation in this child’s household in\nthe past 12 months?  \
0
1                                                  %
2                                               C.I.
3                                       Sample Count
4                                          Pop. Est.

                                                None  \
0  We could always afford\nto eat good nutritious...
1                                               60.6
2                                        53.9 - 66.9
3                                                247
4                                            223,683

                                                None  \
0  We could always afford\nenough to eat but not\...
1                                               35.4
2                                        29.3 - 42.2
3                                                116
4                                            130,797

                                            None  \
0  Sometimes we could\nnot afford enough to\neat
1                                            2.6
2                                      1.3 - 5.4
3                                             10
4                                          9,734

                                       None     None
0  Often we could not\nafford enough to eat  Total %
1                                       1.3    100.0
2                                 0.3 - 5.0
3                                         2
4                                     4,776

In [5]:
raw_table = [
    [
        "We could always afford to eat good nutritious food",
        "60.6", "53.9 - 66.9", "247", "223,683"
    ],
    [
        "We could always afford enough to eat but not always healthy food",
        "35.4", "29.3 - 42.2", "116", "130,797"
    ],
    [
        "Sometimes we could not afford enough to eat",
        "2.6", "1.3 - 5.4", "10", "9,734"
    ],
    [
        "Often we could not afford enough to eat",
        "1.3", "0.3 - 5.0", "2", "4,776"
    ]
]

# Column headers
columns = ["Response", "%", "C.I.", "Sample Count", "Pop. Est."]

# Create cleaned DataFrame
df_clean = pd.DataFrame(raw_table, columns=columns)

# Optional: format numbers
df_clean["%"] = df_clean["%"].astype(float)
df_clean["Sample Count"] = df_clean["Sample Count"].astype(int)
df_clean["Pop. Est."] = df_clean["Pop. Est."].str.replace(",", "").astype(int)

df_clean

,Response,%,C.I.,Sample Count,Pop. Est.
0,We could always afford to eat good nutritious ...,60.6,53.9 - 66.9,247,223683
1,We could always afford enough to eat but not a...,35.4,29.3 - 42.2,116,130797
2,Sometimes we could not afford enough to eat,2.6,1.3 - 5.4,10,9734
3,Often we could not afford enough to eat,1.3,0.3 - 5.0,2,4776

In [6]:
foodinsuf2017 = df_clean

In [7]:
with pdfplumber.open("C:/Users/user/Desktop/Cohort10/Capstone DATA/2018_DRCCAH_food_insuf.pdf") as pdf:
    page = pdf.pages[0]
    table = page.extract_table()

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

In [8]:
if table:
    df = pd.DataFrame(table[1:], columns=table[0])
    print(df.head())
else:
    print("No table found.")

  Indicator 6.26: Which of these statements best describes your household's ability to afford the food you\nneed during the past 12 months?  \
0
1                                                  %
2                                               C.I.
3                                       Sample Count
4                                          Pop. Est.

                                                None  \
0  We could always afford\nto eat good nutritious...
1                                               59.7
2                                        54.4 - 64.8
3                                                415
4                                            218,808

                                                None  \
0  We could always afford\nenough to eat but not\...
1                                               34.3
2                                        29.5 - 39.5
3                                                210
4                                            125,780

                                            None  \
0  Sometimes we could\nnot afford enough to\neat
1                                            4.8
2                                      2.9 - 7.8
3                                             21
4                                         17,546

                                       None     None
0  Often we could not\nafford enough to eat  Total %
1                                       1.2    100.0
2                                 0.5 - 3.1
3                                         5
4                                     4,380

In [9]:
raw_table = [
    [
        "We could always afford to eat good nutritious food",
        "59.7 ", "54.4 - 64.8", "415", "218,808"
    ],
    [
        "We could always afford enough to eat but not always healthy food",
        "34.3", "29.5 - 39.5", "210", "125,780"
    ],
    [
        "Sometimes we could not afford enough to eat",
        "4.8", "2.9 - 7.8", "21", "17,546"
    ],
    [
        "Often we could not afford enough to eat",
        "1.2", "0.5 - 3.1", "5", "4,380"
    ]
]

# Column headers
columns = ["Response", "%", "C.I.", "Sample Count", "Pop. Est."]

# Create cleaned DataFrame
df_clean = pd.DataFrame(raw_table, columns=columns)

# Optional: format numbers
df_clean["%"] = df_clean["%"].astype(float)
df_clean["Sample Count"] = df_clean["Sample Count"].astype(int)
df_clean["Pop. Est."] = df_clean["Pop. Est."].str.replace(",", "").astype(int)

foodinsuf2018 = df_clean

In [11]:
columns = ["Response", "%", "C.I.", "Sample Count", "Pop. Est."]

In [12]:
foodinsuf2018 = pd.DataFrame(raw_table, columns=columns)

# Optional: format numbers
foodinsuf2018["%"] = foodinsuf2018["%"].astype(float)
foodinsuf2018["Sample Count"] = foodinsuf2018["Sample Count"].astype(int)
foodinsuf2018["Pop. Est."] = foodinsuf2018["Pop. Est."].str.replace(",", "").astype(int)

foodinsuf2018

,Response,%,C.I.,Sample Count,Pop. Est.
0,We could always afford to eat good nutritious ...,59.7,54.4 - 64.8,415,218808
1,We could always afford enough to eat but not a...,34.3,29.5 - 39.5,210,125780
2,Sometimes we could not afford enough to eat,4.8,2.9 - 7.8,21,17546
3,Often we could not afford enough to eat,1.2,0.5 - 3.1,5,4380

In [13]:
with pdfplumber.open("C:/Users/user/Desktop/Cohort10/Capstone DATA/2019_DRCCAH_food_insuf.pdf") as pdf:
    page = pdf.pages[0]
    table = page.extract_table()

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

In [14]:
if table:
    df = pd.DataFrame(table[1:], columns=table[0])
    print(df.head())
else:
    print("No table found.")

  Indicator 6.26: Which of these statements best describes your household's ability to afford the food you\nneed during the past 12 months?  \
0
1                                                  %
2                                               C.I.
3                                       Sample Count
4                                          Pop. Est.

                                                None  \
0  We could always afford\nto eat good nutritious...
1                                               59.1
2                                        53.7 - 64.4
3                                                374
4                                            208,807

                                                None  \
0  We could always afford\nenough to eat but not\...
1                                               34.2
2                                        29.2 - 39.6
3                                                175
4                                            120,735

                                            None  \
0  Sometimes we could\nnot afford enough to\neat
1                                            6.1
2                                      3.9 - 9.5
3                                             27
4                                         21,592

                                       None     None
0  Often we could not\nafford enough to eat  Total %
1                                       0.5    100.0
2                                 0.2 - 1.6
3                                         4
4                                     1,899

In [15]:
raw_table = [
    [
        "We could always afford to eat good nutritious food",
        "59.1 ", "53.7 - 64.4", "374", "208,807"
    ],
    [
        "We could always afford enough to eat but not always healthy food",
        "34.2", "29.2 - 39.6", "175", "120,735"
    ],
    [
        "Sometimes we could not afford enough to eat",
        "6.1", "3.9 - 9.5", "27", "21,592"
    ],
    [
        "Often we could not afford enough to eat",
        "0.5", "0.2 - 1.6", "4", "1,899"
    ]
]


columns = ["Response", "%", "C.I.", "Sample Count", "Pop. Est."]


df_clean = pd.DataFrame(raw_table, columns=columns)


df_clean["%"] = df_clean["%"].astype(float)
df_clean["Sample Count"] = df_clean["Sample Count"].astype(int)
df_clean["Pop. Est."] = df_clean["Pop. Est."].str.replace(",", "").astype(int)

foodinsuf2019 = df_clean

In [16]:
foodinsuf2019

,Response,%,C.I.,Sample Count,Pop. Est.
0,We could always afford to eat good nutritious ...,59.1,53.7 - 64.4,374,208807
1,We could always afford enough to eat but not a...,34.2,29.2 - 39.6,175,120735
2,Sometimes we could not afford enough to eat,6.1,3.9 - 9.5,27,21592
3,Often we could not afford enough to eat,0.5,0.2 - 1.6,4,1899

In [17]:
with pdfplumber.open("C:/Users/user/Desktop/Cohort10/Capstone DATA/2021_DRCCAH_food_insuf.pdf") as pdf:
    page = pdf.pages[0]
    table = page.extract_table()

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

In [18]:
if table:
    df = pd.DataFrame(table[1:], columns=table[0])
    print(df.head())
else:
    print("No table found.")

  Indicator 6.26: Which of these statements best describes your household's ability to afford the food you\nneed during the past 12 months?  \
0
1                                                  %
2                                               C.I.
3                                       Sample Count
4                                          Pop. Est.

                                                None  \
0  We could always afford\nto eat good nutritious...
1                                               69.8
2                                        65.3 - 73.9
3                                                633
4                                            242,295

                                                None  \
0  We could always afford\nenough to eat but not\...
1                                               27.0
2                                        23.0 - 31.4
3                                                213
4                                             93,789

                                            None  \
0  Sometimes we could\nnot afford enough to\neat
1                                            2.9
2                                      1.7 - 5.0
3                                             20
4                                         10,062

                                       None     None
0  Often we could not\nafford enough to eat  Total %
1                                       0.3    100.0
2                                 0.1 - 1.0
3                                         4
4                                     1,099

In [19]:
raw_table = [
    [
        "We could always afford to eat good nutritious food",
        "69.8 ", "65.3 - 73.9", "633", "242,295"
    ],
    [
        "We could always afford enough to eat but not always healthy food",
        "27.0", "23.0 - 31.4", "213", "93,789"
    ],
    [
        "Sometimes we could not afford enough to eat",
        "2.9", "1.7 - 5.0", "20", "10,062"
    ],
    [
        "Often we could not afford enough to eat",
        "0.3", "0.1 - 1.0", "4", "1,099"
    ]
]


columns = ["Response", "%", "C.I.", "Sample Count", "Pop. Est."]


df_clean = pd.DataFrame(raw_table, columns=columns)


df_clean["%"] = df_clean["%"].astype(float)
df_clean["Sample Count"] = df_clean["Sample Count"].astype(int)
df_clean["Pop. Est."] = df_clean["Pop. Est."].str.replace(",", "").astype(int)

foodinsuf2021 = df_clean

In [20]:
with pdfplumber.open("C:/Users/user/Desktop/Cohort10/Capstone DATA/2022_DRCCAH_food_insuf.pdf") as pdf:
    page = pdf.pages[0]
    table = page.extract_table()

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

In [21]:
if table:
    df = pd.DataFrame(table[1:], columns=table[0])
    print(df.head())
else:
    print("No table found.")

  Indicator 6.26: Which of these statements best describes your household's ability to afford the food you\nneed during the past 12 months?  \
0
1                                                  %
2                                               C.I.
3                                       Sample Count
4                                          Pop. Est.

                                                None  \
0  We could always afford\nto eat good nutritious...
1                                               57.8
2                                        53.1 - 62.2
3                                                506
4                                            203,377

                                                None  \
0  We could always afford\nenough to eat but not\...
1                                               37.9
2                                        33.5 - 42.6
3                                                284
4                                            133,622

                                            None  \
0  Sometimes we could\nnot afford enough to\neat
1                                            3.6
2                                      2.4 - 5.5
3                                             29
4                                         12,812

                                       None     None
0  Often we could not\nafford enough to eat  Total %
1                                       0.7    100.0
2                                 0.2 - 2.1
3                                         4
4                                     2,348

In [22]:
raw_table = [
    [
        "We could always afford to eat good nutritious food",
        "57.8 ", "53.1 - 62.2", "506", "203,377"
    ],
    [
        "We could always afford enough to eat but not always healthy food",
        "37.9", "33.5 - 42.6", "284", "133,622"
    ],
    [
        "Sometimes we could not afford enough to eat",
        "3.6", "2.4 - 5.5", "29", "12,812"
    ],
    [
        "Often we could not afford enough to eat",
        "0.7", "0.2 - 2.1", "4", "2,348"
    ]
]


columns = ["Response", "%", "C.I.", "Sample Count", "Pop. Est."]


df_clean = pd.DataFrame(raw_table, columns=columns)


df_clean["%"] = df_clean["%"].astype(float)
df_clean["Sample Count"] = df_clean["Sample Count"].astype(int)
df_clean["Pop. Est."] = df_clean["Pop. Est."].str.replace(",", "").astype(int)

foodinsuf2022 = df_clean

In [23]:
with pdfplumber.open("C:/Users/user/Desktop/Cohort10/Capstone DATA/2023_DRCCAH_food_insuf.pdf") as pdf:
    page = pdf.pages[0]
    table = page.extract_table()

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

In [24]:
if table:
    df = pd.DataFrame(table[1:], columns=table[0])
    print(df.head())
else:
    print("No table found.")

  Indicator 6.26: Which of these statements best describes your household’s ability to afford the food you\nneed during the past 12 months?  \
0
1                                                  %
2                                               C.I.
3                                       Sample Count
4                                          Pop. Est.

                                                None  \
0  We could always afford\nto eat good nutritious...
1                                               55.9
2                                        51.0 - 60.6
3                                                460
4                                            189,851

                                                None  \
0  We could always afford\nenough to eat but not\...
1                                               37.3
2                                        32.9 - 42.0
3                                                273
4                                            126,866

                                            None  \
0  Sometimes we could\nnot afford enough to\neat
1                                            6.2
2                                      4.0 - 9.6
3                                             33
4                                         21,212

                                       None     None
0  Often we could not\nafford enough to eat  Total %
1                                       0.5    100.0
2                                 0.2 - 1.6
3                                         4
4                                     1,852

In [25]:
raw_table = [
    [
        "We could always afford to eat good nutritious food",
        "55.9 ", "51.0 - 60.6", "460", "189,851"
    ],
    [
        "We could always afford enough to eat but not always healthy food",
        "37.3", "32.9 - 42.0", "273", "126,866"
    ],
    [
        "Sometimes we could not afford enough to eat",
        "6.2", "4.0 - 9.6", "33", "21,212"
    ],
    [
        "Often we could not afford enough to eat",
        "0.5", "0.2 - 1.6", "4", "1,852"
    ]
]


columns = ["Response", "%", "C.I.", "Sample Count", "Pop. Est."]


df_clean = pd.DataFrame(raw_table, columns=columns)


df_clean["%"] = df_clean["%"].astype(float)
df_clean["Sample Count"] = df_clean["Sample Count"].astype(int)
df_clean["Pop. Est."] = df_clean["Pop. Est."].str.replace(",", "").astype(int)

foodinsuf2023 = df_clean

In [26]:
foodinsuf2023

,Response,%,C.I.,Sample Count,Pop. Est.
0,We could always afford to eat good nutritious ...,55.9,51.0 - 60.6,460,189851
1,We could always afford enough to eat but not a...,37.3,32.9 - 42.0,273,126866
2,Sometimes we could not afford enough to eat,6.2,4.0 - 9.6,33,21212
3,Often we could not afford enough to eat,0.5,0.2 - 1.6,4,1852

In [27]:
foodinsuf2017 = foodinsuf2017.melt(id_vars=[foodinsuf2017.columns[0]], value_name = '2017')

In [29]:
foodinsuf2018 = foodinsuf2018.melt(id_vars=[foodinsuf2018.columns[0]], value_name = '2018')

In [30]:
foodinsuf2019 = foodinsuf2019.melt(id_vars=[foodinsuf2019.columns[0]], value_name = '2019')

In [31]:
foodinsuf2021 = foodinsuf2021.melt(id_vars=[foodinsuf2021.columns[0]], value_name = '2021')

In [32]:
foodinsuf2022 = foodinsuf2022.melt(id_vars=[foodinsuf2022.columns[0]], value_name = '2022')

In [33]:
foodinsuf2023 = foodinsuf2023.melt(id_vars=[foodinsuf2023.columns[0]], value_name = '2023')

In [34]:
dfs = [foodinsuf2017, foodinsuf2018, foodinsuf2019, foodinsuf2021, foodinsuf2022, foodinsuf2023]

In [35]:
merged_df = dfs[0]

In [36]:
for i, df in enumerate(dfs):
    dfs[i] = df.set_index(['Response'])

In [37]:
merged_df = pd.concat(dfs, axis=1)

In [38]:
merged_df = merged_df.reset_index()

In [40]:
DRCCAHdf = merged_df

In [41]:
DRCCAHdf.to_csv('DRCCAHdf.csv', index=False)

In [42]:
DRCCAHdf

,Response,variable,2017,variable,2018,variable,2019,variable,2021,variable,2022,variable,2023
0,We could always afford to eat good nutritious ...,%,60.6,%,59.7,%,59.1,%,69.8,%,57.8,%,55.9
1,We could always afford enough to eat but not a...,%,35.4,%,34.3,%,34.2,%,27.0,%,37.9,%,37.3
2,Sometimes we could not afford enough to eat,%,2.6,%,4.8,%,6.1,%,2.9,%,3.6,%,6.2
3,Often we could not afford enough to eat,%,1.3,%,1.2,%,0.5,%,0.3,%,0.7,%,0.5
4,We could always afford to eat good nutritious ...,C.I.,53.9 - 66.9,C.I.,54.4 - 64.8,C.I.,53.7 - 64.4,C.I.,65.3 - 73.9,C.I.,53.1 - 62.2,C.I.,51.0 - 60.6
5,We could always afford enough to eat but not a...,C.I.,29.3 - 42.2,C.I.,29.5 - 39.5,C.I.,29.2 - 39.6,C.I.,23.0 - 31.4,C.I.,33.5 - 42.6,C.I.,32.9 - 42.0
6,Sometimes we could not afford enough to eat,C.I.,1.3 - 5.4,C.I.,2.9 - 7.8,C.I.,3.9 - 9.5,C.I.,1.7 - 5.0,C.I.,2.4 - 5.5,C.I.,4.0 - 9.6
7,Often we could not afford enough to eat,C.I.,0.3 - 5.0,C.I.,0.5 - 3.1,C.I.,0.2 - 1.6,C.I.,0.1 - 1.0,C.I.,0.2 - 2.1,C.I.,0.2 - 1.6
8,We could always afford to eat good nutritious ...,Sample Count,247,Sample Count,415,Sample Count,374,Sample Count,633,Sample Count,506,Sample Count,460
9,We could always afford enough to eat but not a...,Sample Count,116,Sample Count,210,Sample Count,175,Sample Count,213,Sample Count,284,Sample Count,273
10,Sometimes we could not afford enough to eat,Sample Count,10,Sample Count,21,Sample Count,27,Sample Count,20,Sample Count,29,Sample Count,33
11,Often we could not afford enough to eat,Sample Count,2,Sample Count,5,Sample Count,4,Sample Count,4,Sample Count,4,Sample Count,4
12,We could always afford to eat good nutritious ...,Pop. Est.,223683,Pop. Est.,218808,Pop. Est.,208807,Pop. Est.,242295,Pop. Est.,203377,Pop. Est.,189851
13,We could always afford enough to eat but not a...,Pop. Est.,130797,Pop. Est.,125780,Pop. Est.,120735,Pop. Est.,93789,Pop. Est.,133622,Pop. Est.,126866
14,Sometimes we could not afford enough to eat,Pop. Est.,9734,Pop. Est.,17546,Pop. Est.,21592,Pop. Est.,10062,Pop. Est.,12812,Pop. Est.,21212
15,Often we could not afford enough to eat,Pop. Est.,4776,Pop. Est.,4380,Pop. Est.,1899,Pop. Est.,1099,Pop. Est.,2348,Pop. Est.,1852